/*#a1{
    display: flex;
    justify-content: center;

}
.a3{
    float: right;

}
img{
    width: 440px;
    height:439px;
}
.a2{
    width:440px;
    height: 439px;
}
*/
#wrapper{
    width:480px;
    height:500px;
    background-color: rgba(233, 10, 10, 0.199);
    border-radius: 5px;
    box-shadow:0 12px 20px -12px rgb(0 0 0 / 60%);
    float:center;
    margin-left: 420px;
}
.btn.bg-orange {
    background-color: #E36937; 
}
h3{
font-family: 'Nunito Sans', sans-serif;
font-size: 26px;
font-weight: 600;
letter-spacing: 1px;
line-height: 36px;
padding: 0px,0px,30px;
text-align:center;
}
.form-group1{
    width: 100%;
}
form{
    margin: 3px;
}
p{
    color: red;
    font-weight: 600;
    margin: 0px;
}
.form-t{
    width: 100%;
    display: flex;
    box-sizing: border-box;
}
.thuong{
    width: 50%;

}
.hoa{
    margin-right:10px ;
    
}
.duan{
    margin-left:10px ;
    
}
#Message{
    height: 100px;
    padding: 10px,20px,5px;
}
#Name{
    margin-top: 30px;
}
#Submit{
    color:#ffffff
}
#Submit:hover{
    background-color: #ffffff;
    color:#E36937;
}